<h1>Campgrounds</h1>

<% campgrounds.forEach(function (campground) { %>
    <ul>
        <ol><li><h2><%= campground.name %><br/><img src=" <%= campground.image %> "</h2>
        </li></ol>
    </ul>
   <% }); %>