<% include partials/header %>

<h1>Kamps</h1>
<a href='/campgrounds/new'>Add new Kamp</a>

<% campgrounds.forEach(function (campground) { %>
    <ul>
        <ol><li><h2><%= campground.name %><br/><img src=" <%= campground.image %> "</h2>
        </li></ol>
    </ul>
   <% }); %>
   
<% include partials/footer %>